# Исключение каталога виртуальной среды
.venv/
*.env

# Исключение настроек редактора
.vscode/

# Исключение скомпилированных и временных файлов
__pycache__/
*.pyc

# Исключение статических и медиафайлов
staticfiles/
media/

# Исключение миграций
account/migrations/
basket/migrations/
cards/migrations/
payment/migrations/

# Исключение конкретного файла
sendSms.py


